# Dependencies
node_modules/

# Build output
dist/

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Temp
*.local
